*{
  margin: 0 0 ;
  padding: 0 0;
  box-sizing: border-box;
  /* color: white; */
}
.main{
  height: 100vh;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  text-align: center;
}
.progress-container{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 350px;
  max-width: 100%;
  margin-bottom: 30px;
}

/* .progress-container::before{
  z-index: -1;
  width: 0%;
  height: 4px;
  content: '';
  background-color: rgba(239, 243, 21, 0.548);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
} */
.progress{
  z-index: -1;
  width: 0%;
  height: 4px;
  background-color: rgb(253, 237, 4);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.4s ease;
}

.circle{
  background-color: black;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(0, 0, 0, 0.13);
  transition: 0.4s ease;
}
.circle.active{
  border-color:  rgb(164, 222, 233);
  background-color: rgb(253, 237, 4);
  color: black;
}

.btn{
  background-color:  rgb(253, 237, 4);
  color: black;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn:active{
  transform: scale(0.98);
}
.btn:focus{
  outline: 0;
}
.disabled{
  background-color:  rgba(58, 58, 58, 0.589);
  cursor: not-allowed;
}